.App-header {
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color:darkslategrey;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logo {
  height: 150px;
  width: auto;
  margin-right: 15px; 
}

.loginButton {
  color: white;
  background-color: darkslategray;
  border-radius: 5px;
  font-size: large;
  padding: 8px 16px; /* dodaje prostor unutar dugmeta */
  cursor: pointer; /* pokazuje da je klikabilno */
  transition: background-color 0.3s ease; /* lijepa animacija pri hoveru */
}

.loginButton:hover {
  background-color:lightseagreen;
  color: white;
}



