.chooseRole-container {
    background-color: rgb(215, 252, 248);
    color: darkslategrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .logo-corner {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo-corner img {
    height: 100px;
    width: auto;
  }
  
  .registracija {
    font-size: 28px;
    margin-bottom: 30px;
    color: darkslategrey;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
  }
  
  .radio-group {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .action-button {
    color: white;
    background-color: darkslategray;
    border: none;
    border-radius: 5px;
    font-size: large;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px;
  }
  
  .action-button:hover {
    background-color: lightseagreen;
  }
  
  