.chooseRole-page {
  position: relative;
  min-height: 100vh;
  background-color:  rgb(215, 252, 248);
  font-family: 'Segoe UI', sans-serif;
}
.chooseRole-container {
  background-color: white;
  color: darkslategrey;
  min-width: 350px;
  max-width: 450px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.logo-corner {
  position: absolute;
  top: 20px;
  left: 20px;
}
  
.logo-corner img {
  height: 120px;
  width: auto;
}
  
.registracija {
  font-size: 28px;
  margin-bottom: 30px;
  color: darkslategrey;
  text-align: center;
}
 
.input-group {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
  
.input-field {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid darkslategrey;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  box-sizing: border-box;
}
  
.radio-group {
  margin-bottom: 20px;
  font-size: 18px;
}
  
.action-button {
  color: white;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  font-size: large;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 8px 0;
  width: 100%;
}
  
.action-button:hover {
  background-color: lightseagreen;
}
  
  